.panel.panel-default
  .panel-heading
    %b
      {{opinion.title}}
  .panel-body.opinion
    .pull-left.vote-counter
      %b
        0
        %br
        Votes
    %div
      %p
        Penulis:
        %b
          {{opinion.author}}
      %p.with-newline<
        {{opinion.content | limitTo: 600}}
      .pull-right
        %a{'ng-href' => '/topics/{{opinion.topic_id}}/opinions/{{opinion.id}}', 'class' => 'btn btn-info btn-sm'}
          %span.glyphicon.glyphicon-search
          Read more...