.panel.panel-default
  .panel-heading
    %b
      =@opinion.title
  .panel-body.opinion
    .pull-left.vote-counter
      %b
        0
        %br
        Votes
    %div
      %p
        Penulis:
        %b
          =@opinion.author
      .with-newline<
        =@opinion.content