.row{'ng-app' => 'topicApp'}
  .col-xs-10.opinion
    %h3
      =@opinion.title

    .pull-left{'ng-controller' => 'ShowOpinionController as vm', style: 'margin-right: 20px'}
      %vote-section{'is-owner' => 'vm.problem.is_owner', 'vote-up' => 'vm.vote_up()', 'vote-down' => 'vm.vote_down()',
        'vote-status' => '{{vm.vote.my_vote_status}}', 'up-vote-count' => '{{vm.vote.up_vote}}',
        'down-vote-count' => '{{vm.vote.down_vote}}', 'img-style' => '{{vm.voteImgStyle}}'}

    %div
      %p
        Penulis:
        %b
          =@opinion.author
      .with-newline<
        =@opinion.content
  .col-xs-2
    =render partial: 'shared/user_profile'
    %hr
    .panel.panel-primary
      .panel-heading
        %span.glyphicon.glyphicon-th-large
        %b Opinion information
      .panel-body
        Created by
        %br
        %b= @opinion.user.name
        %br
        %br

        Source
        %br
        %b.long-word= @opinion.source
        %br
        %br

        Created at
        %br
        %b= @opinion.created_at.in_time_zone("Jakarta").strftime("%d %B %Y, %H:%M")
        %br
        %br

        Updated at
        %br
        %b= @opinion.updated_at.in_time_zone("Jakarta").strftime("%d %B %Y, %H:%M")