.row

.row
  .col-xs-10
    .row
      .pull-right{style: 'margin-right: 10px'}
        = link_to 'New Topic', new_topic_path, 'class'=> 'btn btn-primary'

    - @topics.each do |topic|
      .row.topic
        .pull-left.vote-counter
          %b
            = topic.get_upvotes.count - topic.get_downvotes.count
            %br
            Votes
        %div{style: 'overflow:hidden'}
          %h4
            =link_to topic.title, topic_path(topic)
          %p= topic.description
          %small
            Created by
            %b= topic.user.name
      .row
        .col-xs-12
          %hr
  .col-xs-2
    =render partial: 'shared/user_profile'