.row{'ng-app' => 'topicApp'}
  .col-xs-10
    .pull-left{'ng-controller' => 'ShowTopicController as vm'}
      %vote-section{'is-owner' => 'vm.problem.is_owner', 'vote-up' => 'vm.vote_up()', 'vote-down' => 'vm.vote_down()',
        'vote-status' => '{{vm.vote.my_vote_status}}', 'up-vote-count' => '{{vm.vote.up_vote}}',
        'down-vote-count' => '{{vm.vote.down_vote}}', 'img-style' => '{{vm.voteImgStyle}}'}
    .pull-left
      %h3{style: 'padding-left: 20px; margin-top:5px'}
        = @topic.title

      - if user_signed_in? and @topic.user == current_user
        %div{style: 'width: 400px'}
          = link_to edit_topic_path(@topic), 'class' => 'btn btn-warning btn-sm', style: 'float:left; margin-left: 20px' do
            %span.glyphicon.glyphicon-edit
            Edit
          = button_to topic_path(@topic), method: :delete, data: {confirm: "Are you sure want to delete this?"}, class: 'btn btn-danger btn-sm', style: 'float:left; margin-left: 10px' do
            %span.glyphicon.glyphicon-trash
            Delete
    .clearfix

    %hr
    %div{'ng-controller' => 'IndexOpinionController as vm'}
      .col-xs-6
        %div
          %large
            %b Pro
          .pull-right
            =link_to new_topic_opinion_path(@topic, is_pro: true) , "class" => 'btn btn-success' do
              %span.glyphicon.glyphicon-plus
              Add
        .clearfix{style: 'margin-top:30px'}
        %div{'ng-repeat' => "opinion in vm.pro_opinions.opinions | orderBy:['-(upvotes_count-downvotes_count)','created_at']"}
          =render partial: "opinions/show"
      .col-xs-6
        %large
          %b Kontra
        .pull-right
          =link_to new_topic_opinion_path(@topic, is_pro: false), "class" => 'btn btn-success' do
            %span.glyphicon.glyphicon-plus
            Add
        .clearfix{style: 'margin-top:30px'}
        %div{'ng-repeat' => "opinion in vm.con_opinions.opinions | orderBy:['-(upvotes_count-downvotes_count)','created_at']"}
          =render partial: "opinions/show"

  .col-xs-2
    =render partial: 'shared/user_profile'
    %hr
    .panel.panel-primary
      .panel-heading
        %span.glyphicon.glyphicon-th-large
        %b Topic information
      .panel-body
        %p
          =@topic.description
        %hr
        Created by
        %br
        %b= @topic.user.name