- unless signed_in?
  =render "devise/sessions/new"
- else
  .panel.panel-primary
    .panel-heading
      %span.glyphicon.glyphicon-user
      %b= current_user.name
    .panel-body
      - if current_user.badges.count > 0
        Badges:
        %ul
          -current_user.badges.each do |badge|
            %li= badge.name.humanize
      - else
        No badge