- unless signed_in?
  =render "devise/sessions/new"
- else
  .panel.panel-primary
    .panel-heading
      %span.glyphicon.glyphicon-user
      %b= current_user.name
    .panel-body
      Point:
      0