#localhost:3000
FACEBOOK_APP_ID: 779127795483478
FACEBOOK_APP_SECRET: e98dfd6e2f11c29db217d8d63b8c8463

#localhost:3000
GOOGLE_CLIENT_ID: 41207523789-ug464tc4al79sv1nang86rm5p9tcmpn4.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET: mqH4-fOx1l5HBDEt-OF34jJa

S3_BUCKET: A
AWS_ACCESS_KEY_ID: A
AWS_SECRET_ACCESS_KEY: A
AWS_REGION: A