.login
  %h3
    Log In
  %hr
.row
  .col-xs-12
    = link_to "Facebook", user_omniauth_authorize_path(:facebook), "class" => 'btn btn-lg btn-primary btn-block'
.row{'style' => 'margin-top:20px'}
  .col-xs-12
    = link_to "Google", user_omniauth_authorize_path(:google_oauth2), "class" => 'btn btn-lg btn-info btn-block'